@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.sidebar {
  background: rgb(166, 187, 141);
}

.sidenav {
  background: rgb(166, 187, 141)
}
.summary-cards, .dashbord-summary, .create-button, .bg-table {
  background-color: rgb(166, 187, 141);
}
.custom-font {
  color: rgb(60, 98, 85)
}