@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: rgb(11, 99, 56, 0.8);

}
.name {
  text-shadow: 2px 0px white;
  letter-spacing: .3rem;
  
}

.sidebar, .sidenav {
  background: #00a756;
}
.summary-cards, .dashbord-summary, .create-button, .bg-table {
  background-color: #00b65b;
}
.custom-font {
  color: rgb(255, 255, 255)
}
.button-bg {
  background: rgb(166, 187, 141)
}
.tooltipText {
  position: absolute;
  left: 50%;
  top: 1;
  transform: translateX(-62%);
  color: black;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5 ease;
}

.tooltipText::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  
}

.tooltip:hover .tooltipText {
  top: 0%;
  visibility: visible;
  opacity: 1;
}


@keyframes scrollAnimation {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(-100%);
  }
}

.animated-text {
  display: inline-block;
  overflow: hidden;
  height: 3em; /* Adjust the height based on your text size */
}

.scrolling-text {
  display: block;
  animation: scrollAnimation 10s linear infinite; /* Adjust duration and timing function as needed */
}


